:root {
	--blur-min: 2px;
	--blur-max: 8px;

	/* Theme Colors */
	--tomato-light: hsl(0, 100%, 50%);
	--tomato-med: hsl(0, 89%, 22%);
	--tomato-dark: hsl(0, 95%, 14%);
	--pasta: hsl(38, 100%, 50%);
	/* Player 0 COlors */
	/*Purple  */
	/* --player-0-light: hsl(236, 67%, 76%);
	--player-0-dark: hsl(248, 28%, 26%); */
	/* Orange */
	--player-0-light: #C79F38;
	--player-0-dark: #433212;

	/* Player 1 Colors */
	--player-1-light: hsl(200, 67%, 59%);
	--player-1-dark: hsl(200, 100%, 16%);

}

/* Generic Styles */

/* tspan {
	fill: var(--pasta);
  } */

  button {
	background-color: black;
	color: var(--pasta);
}

#submitButton,.submit-button {
	background-color: var(--tomato-med);
	fill: var(--tomato-med);
}
/* 
#clearButton {
	color: white;
} */

#bowl {
	stroke: white;
	fill: var(--tomato-med);
}

/* #spoon {
	stroke: black;
} */

  #currentWordDisplay {
	color: var(--primary);
	background-color: black;
  }

/* #gameBoard {} */

/* Hex styles */

.hex.clickable {
	fill: var(--tomato-med);
	filter: blur(var(--blur-min));
}
.hex.clickable.selected {
	fill: var(--tomato-light);
	stroke-width: 5px;
	stroke: white;
	filter: blur(var(--blur-min));
}
.hexText {
	fill: var(--pasta);
	stroke: var(--pasta);
}
.player0,.purple {
	fill: var(--player-0-dark);
	stroke: var(--player-0-light);
	background-color: var(--player-0-dark);
	color: var(--player-0-light);
	border-color: var(--player-0-med);
	filter: blur(--blur-min);
}
.player0 > tspan {
	fill: var(--player-0-light);
}
#spoonBack.player0 {
	fill: var(--player-0-light);
}


.player1,.blue {
	fill: var(--player-1-dark);
	stroke: var(--player-1-light);
	background-color: var(--player-1-dark);
	color: var(--player-1-light);
	border-color: var(--blue-med);
	filter: blur(--blur-min);

}	
.player1 > tspan {
	fill: var(--player-1-light);
}
#spoonBack.player1 {
	fill: var(--player-1-light)
}

.tomato {
	fill: var(--tomato-dark);
	stroke: var(--tomato-light);
	background-color: var(--tomato-dark);
	color: var(--tomato-light);
	border-color: var(--tomato-med);
}

.pasta {
	fill: var(--pasta);
	stroke: var(--pasta);
	background-color: var(--pasta);
	color: var(--pasta);
	border-color: var(--pasta);
}





.lastclick {
	/* stroke: var(--tomato-light); */
	stroke-width: 5;
}

.locked {
	fill: var(--tomato-dark);
	filter: opacity(0.3) blur(var(--blur-max));
}


.hex.hex.clickable:hover {
	/* fill: black; */
	filter: brightness(90%) saturate(50%) opacity(1.0);
}

#crackers {
	fill:var(--pasta);
	stroke-width:0;
}

#crackersText tspan {
	fill:var(--pasta);
	stroke-width:0;
}


.black {
	fill: black;
	stroke: white;
	background-color: black;
	color: white;
	filter: blur(--blur-min);
}

.bordered {
	border-width: 5px;
}

#credits {
	background-color: var(--tomato-dark);;
	color: var(--pasta);
}

#credits a {
	color: var(--tomato-light);

}