/* Reverse Rainbow */
.color13 { stroke: hsl(0, 100%, 25%); }
.color12 { stroke: hsl(27, 100%, 25%); }
.color11 { stroke: hsl(54, 100%, 25%); }
.color10 { stroke: hsl(81, 100%, 25%); }
.color9 { stroke: hsl(108, 100%, 25%); }
.color8 { stroke: hsl(135, 100%, 25%); }
.color7 { stroke: hsl(162, 100%, 25%); }
.color6 { stroke: hsl(189, 100%, 25%); }
.color5 { stroke: hsl(216, 100%, 25%); }
.color4 { stroke: hsl(243, 100%, 25%); }
.color3 { stroke: hsl(270, 100%, 25%); }
.color2 { stroke: hsl(297, 100%, 25%); }
.color1 { stroke: hsl(324, 100%, 25%); }