.color0 { stroke: #003000; }
.color1 { stroke: #006000; }
.color2 { stroke: #009000; }
.color3 { stroke: #00c000; }
.color4 { stroke: #00f000; }
.color5 { stroke: #00ff30; }
.color6 { stroke: #00ff60; }
.color7 { stroke: #00ff90; }
.color8 { stroke: #00ffc0; }
.color9 { stroke: #00fff0; }
.color10 { stroke: #00ffff; }
.color11 { stroke: #00c0ff; }
.color12 { stroke: #0090ff; }
.color13 { stroke: #0060ff; }