.color0 { stroke: hsl(0, 50%, 10%); }
.color1 { stroke: #3d1c1c; }
.color2 { stroke: #3c2700; }
.color3 { stroke: #353800; }
.color4 { stroke: #2f4900; }
.color5 { stroke: #285a00; }
.color6 { stroke: #216b00; }
.color7 { stroke: #1b7c00; }
.color8 { stroke: #148d00; }
.color9 { stroke: #0e9e00; }
.color10 { stroke: #00af00; }
.color11 { stroke: #00c000; }
.color12 { stroke: #00ff00; }
.color13 { stroke: #00ff00; }



